<div class="row">
  <div class="col-xs-6">
    {{#link-to 'new-message' classNames="btn btn-danger"}}Compose New Message{{/link-to}}
    <br>
    <br>
    <h4>Sent Messages:</h4>
    <ul>
      {{#each message in model}}
        <li>{{#link-to 'message' message}}{{message.subject}}{{/link-to}}</li>
      {{/each}}
    </ul>

  </div>

  <div class="col-xs-6">
    {{outlet}}
  </div>
</div>

<img src="css/img/pony-express.jpg" alt="pony express carrier">
